/* Fonts */

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('../fonts/montserrat-v23-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/montserrat-v23-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/montserrat-v23-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/montserrat-v23-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-regular - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/oswald-v47-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/oswald-v47-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-500 - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('../fonts/oswald-v47-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/oswald-v47-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Settings */
  body {
    font-family: "Montserrat", sans-serif;
    color: #060D10;
  }

.container {
  width: 1278px;
  margin: 0 auto;
  text-align: center;
}
/* Header */

.header {
  background-color: #66D1FF;
  padding: 31px 0 30px;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-header {
  padding: 8px 41px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  text-align: center;
}

.btn-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #060D10;
  text-decoration: none;

}

.phone-number {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
}

/* Header end */

/* Main */

/* Intro */

.intro {
  background-image: url("../images/background.png");
  background-color: #060D10;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-fade {
  background-color: rgba(6, 13, 16, 0.25);
  padding: 240px 0 260px;
}

.intro-main-text {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #060D10;
  margin-bottom: 60px;
}

.intro-description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #060D10;
}

/* Advantages */

.advantages {
  color: #060D10;
  background: rgba(102, 209, 255, .1);
  padding: 170px 0;
}

.adv-item {
  width: 406px;

}

.advantage-main-text {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;

}

.adv-item-title {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  line-height: 167%;
  text-transform: uppercase;
}

.adv-item-text {
  font-size: 26px;
  line-height: 36px;
  mix-blend-mode: normal;
  opacity: 0.8;
}

/* Slogan */

.slogan {
  background:
    linear-gradient(208deg,
    rgba(102, 209, 255, .1) 43.85%,
    rgba(196, 196, 196, 0) 43.86%);

  padding: 170px 0 180px;
}

.slogan_text {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #060D10;
}

.btn {
  height: 86px;
  width: 505px;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  background: none;
  border: 3px solid #060D10;
  border-radius: 4px;
  margin: 60px 0 130px;
}

.clients-photo {
  display: flex;
  justify-content: space-between;
}

.clients-img {
  background: #C4C4C4;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* Main end */

/* Footer */
  .footer{
    background: #060D10;
    color: #FFF;
    padding: 35px 0 36px;
  }

  .footer-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
  }


  .copyright {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
/* Footer end */

